html,body{
    height : 100%;
    display: flex;
}
h1 {
    display: inline-block;
    text-align: center;
    font-size : 6vw;
}
#dino{
    display: inline-block;
    text-align: center;
    width: 12%;
}
#flower{
    display: inline-block;
    text-align: center;
    width: 12%;
}
.text-rainbow{
    background-image : linear-gradient(90deg,red,orange,yellow,green,blue,navy,purple);
    /*-webkit-background-clip : text;*/
    color : rgb(199, 193, 193);

    font-weight: bold;
    font-size : 12pt;
    width : 70%;
    height : 10px;
    overflow: hidden;
    padding-top : 4px;
}
#bieber{
    display: inline-block;
    text-align: center;
    width: 20%;
}
#quoka{
    display: inline-block;
    text-align: center;
    width: 15%;
}
#biebertalk{
    display: none;
    width : 6%;
}
#quokatalk{
    display: none;
    width : 6%;
}
#mainimage{
    display: inline-block;
    text-align:center;
    width:40%;
}
#main{
    text-align: center;
    margin : auto 0;
}